<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/shouye.css">
</head>

<body>
    <div id="app">
        <header-groups v-on:toggle="togglesearch"  :tabconsole="tabconsole.header">
            <header-list v-on:getfn="chosefn(index)" :item="item.text" :index="index"
                v-for="(item, index) in headerlist">
            </header-list>
        </header-groups>
        <component v-on:getfn="clicksongfn" v-show="tabconsole.component" :is="activeheaderlist"></component>
        <header-song v-on:getback="goback" v-on:get="clickchosesongli" v-bind:id="songtop.id"
         v-if="tabconsole.headersong"></header-song>

         <search-group
         v-on:toggleback="goback"
         v-on:chosesong="clickchosesongli"
          v-show="tabconsole.search"></search-group>

        <player-song :singeravatarurl="playsong.singeravatarurl" v-on:togglefn="toggleactive" :playeractive="playsong.playeractive" ref="shit"
            :nowplayername="playsong.nowplayername" :nowplayersongname="playsong.nowplayersongname"
        :playsong="playsong.src"></player-song>
    
    </div>
    <script src="js/shouye.js"></script>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>